.canvas-chart {
    width: 50%;
    height: 700px;
}

.search-button{
    margin-right: 5px;
}

.env-title{
    color:aqua;
    margin-left: 10px;
}

.logo-title{
    cursor: pointer;
}

table {
  width: 100%;
}