<div class="create">
  <div class="create-content">
    <div class="create-header">Create asset helper</div>
    <div class="create-main">
      <form class="create-form" [formGroup]="createForm" autocomplete="off" novalidate>
        <div class="create-data">
          <div class="mandatory-data">
            <div class="mandatory-title">MANDATORY PROPERTIES</div>
            <div class="mandatory-values">
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>METADATA SCHEMA VERSION:</div>
                  <div class="title-suggestion">(SCH_VER=)</div>
                </div>
                <input class="mand-input" type="text" name="shemaVer" placeholder="1" formControlName="shemaVer"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>ASSET NAME:</div>
                  <div class="title-suggestion">(N=)</div>
                </div>
                <input class="mand-input" type="text" name="assetName" formControlName="assetName"/>
              </div>
              <div class="error"
                *ngIf="createForm.controls['assetName'].hasError('maxlength')">
                Maximum of 1024 characters
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>SHORT NAME / ASSET CODE:</div>
                  <div class="title-suggestion">(SN=)</div>
                </div>
                <input class="mand-input" type="text" name="assetCode" formControlName="assetCode"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>ASSET UNIT NAME:</div>
                  <div class="title-suggestion">(UN=)</div>
                </div>
                <input class="mand-input" type="text" name="assetUnitName" formControlName="assetUnitName"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>SMALLEST UNIT NAME:</div>
                  <div class="title-suggestion">(NTHUN=)</div>
                </div>
                <input class="mand-input" type="text" name="smallestUnitName" formControlName="smallestUnitName"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>RATIO:</div>
                  <div class="title-suggestion">(NTH_RATIO=)</div>
                </div>
                <input class="mand-input" type="text" placeholder="100000000" name="ratio" formControlName="ratio"/>
              </div>
            </div>
          </div>
          <div class="optional-data">
            <div class="optional-title" (click)="optionalExpClicked()">
              <img src="../../assets/arrow-icon.svg" class="optional-icon" [class.expanded]="expanded"
                width="9px" height="5px"/>
              <span class="optional-text">OPTIONAL PROPERTIES</span>
            </div>
            <div class="mandatory-values" *ngIf="expanded" [@fadeInOut]>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>SHORT DESCRIPTION:</div>
                  <div class="title-suggestion">(OPT_SHORT_DESC=)</div>
                </div>
                <input class="mand-input" type="text" name="shortDescr" formControlName="shortDescr"/>
              </div>
              <div class="error"
                *ngIf="createForm.controls['shortDescr'].hasError('maxlength')">
                Maximum of 128 characters
              </div>
              <div class="mand-values-row textarea">
                <div class="mand-title">
                  <div>LONG DESCRIPTION:</div>
                  <div class="title-suggestion">(OPT_LONG_DESC=)</div>
                </div>
                <textarea class="mand-input description-area" name="longDescr" formControlName="longDescr"></textarea>
              </div>
              <div class="error"
                *ngIf="createForm.controls['longDescr'].hasError('maxlength')">
                Maximum of 1024 characters
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>WEBSITE:</div>
                  <div class="title-suggestion">(OPT_SITE_URL=)</div>
                </div>
                <input class="mand-input" type="text" name="website" formControlName="website"/>
              </div>
              <div class="error"
                *ngIf="createForm.controls['website'].hasError('pattern')">
                Invalid url
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>DESCRIPTION PAPER:</div>
                  <div class="title-suggestion">(OPT_PDF_URL=)</div>
                </div>
                <input class="mand-input" type="text" name="descPaper" formControlName="descPaper"/>
              </div>
              <div class="error"
                *ngIf="createForm.controls['descPaper'].hasError('pattern')">
                Invalid url
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>PATH TO FAVICON:</div>
                  <div class="title-suggestion">(OPT_FAVICON_URL=)</div>
                </div>
                <input class="mand-input" type="text" name="favicon" formControlName="favicon"/>
              </div>
              <div class="error"
                *ngIf="createForm.controls['favicon'].hasError('pattern')">
                Invalid url
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>PATH TO LOGO:</div>
                  <div class="title-suggestion">(OPT_LOGO_URL=)</div>
                </div>
                <input class="mand-input" type="text" name="logo" formControlName="logo"/>
              </div>
              <div class="error"
                *ngIf="createForm.controls['logo'].hasError('pattern')">
                Invalid url
              </div>
              <div class="mand-values-row">
                <div class="mand-title">
                  <div>COLOR:</div>
                  <div class="title-suggestion">(OPT_COLOR=)</div>
                </div>
                <input class="mand-input" type="text" name="color" formControlName="color"/>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="command">
        <div class="create-command-area" [class.error-active]="errorState.isActive">
          <div class="command-title">REGISTRATION COMMAND:</div>
          <ng-container *ngIf="!errorState.isActive">
            <div class="command-supply" *ngIf="isEmpty">Supply assets parameters</div>
            <ng-container *ngIf="!isEmpty">
              <div class="switch">
                <div #usd class="switch__usd" 
                    [class.selected]="switcherSelectedValue === switcherValues.LIN"
                    (click)="switcherClicked($event, switcherValues.LIN)">LINUX</div>
                <div #btc class="switch__btc"
                    [class.selected]="switcherSelectedValue === switcherValues.WIN"
                    (click)="switcherClicked($event, switcherValues.WIN)">WINDOWS</div>
                <div #selector class="selector"
                    [ngStyle]="{'left': switcherSelectedValue === switcherValues.LIN ? 
                        -1 + 'px' : usd.clientWidth + 1 + 'px',
                        'width': switcherSelectedValue === switcherValues.LIN ?
                        usd.clientWidth + 'px' : btc.clientWidth + 'px'}">
                    {{switcherSelectedValue}}
                </div>
              </div>
              <div class="command-field">{{assetCommand}}</div>
              <div class="command-copy" (click)="copyMessage()">
                <img src="../../assets/icon-copy.svg" class="icon-copy" width="15px" height="17px"/>
                <span>Copy</span>
              </div>
              <div class="command-paste">
                Paste this command in command line
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="errorState.isActive">
            <div class="error-text">
              Error: {{errorState.text}}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="create-separator"></div>
  <div class="create-see-more"> See 
    <div class="asset-descr-link" (click)="openDescriptorClicked()">
      Asset Descriptor
    </div>
    <span><span>&nbsp;</span>for more info.</span>
  </div>
</div>