@import 'ui-mixins';

.create-content {
    width: 1180px;
    display: flex;
    flex-direction: column;
    margin: 40px auto auto;
}

.create-header {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.create-main {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
}

.create-data {
    width: 580px;
    display: flex;
    flex-direction: column;
}

.mandatory-data {
    display: flex;
    flex-direction: column;
}

.optional-data {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.optional-title,
.mandatory-title {
    @include paginator-wrapper-background();
    height: 55px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
}

.optional-title {
    cursor: pointer;
}

.mandatory-values {
    display: flex;
    flex-direction: column;

    transition: all .2s ease;
}

.mand-values-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
}

.mand-values-row.textarea {
    align-items: flex-start;
}

.mand-title {
    width: 190px;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
}

.mand-input {
    border: none;
    width: 375px;
    height: 30px;
    padding-left: 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.mand-input:focus {
    padding-left: 12px;
    outline-width: 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.create-command-area {
    width: 580px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(217, 230, 237, 0.35);
    padding: 20px;
}

.error-active {
    border: 1px solid #ff5e5e;
}

.command-title {
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
}

.command-field {
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #333333;
}

.command-copy {
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15.5px;
    background-color: #05e2c2;
    width: 118px;
    height: 31px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #042e5a;
}

.icon-copy {
    margin-right: 10px;
}

.command-copy:hover {
    background-color: #05f7d3;
}

.description-area {
    height: 122px;
    resize:none;
    padding-top: 8px;
}

.create-separator {
    height: 2px;
    width: 1180px;
    margin: 0 auto 20px auto;
    background-color: #e4e4e4;
}

.create-see-more {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    width: 1180px;
    display: flex;
    margin: 0 auto 50px auto;
}

.asset-descr-link {
    color: #08d0b3;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.command-supply {
    margin-top: 20px;
    display: flex;
    font-family: "ProximaNovaIt", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

.optional-text {
    margin-left: 15px;
}

.optional-icon.expanded {
    transform: rotate(180deg);
}

.command-paste {
    font-family: "ProximaNovaIt", sans-serif;
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    align-self: center;
    color: #333333;
    margin: 10px auto 0 auto;
}

.command {
    display: flex;
    flex-direction: column;
}

.error {
    font-family: "ProximaNovaIt", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff5e5e;
    margin-left: 190px;
}

.error-text {
    margin-top: 20px;
    font-family: "ProximaNovaIt", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff5e5e;
}

.mand-input.ng-invalid {
    border: 1px solid #ff5e5e;
}

.switch {
    top: -2px;
    display: flex;
    align-items: center;
    place-self: flex-start;
    margin-top: 10px;
    font-size: 10px;
    height: 16px;
    line-height: normal;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
    border: solid 1px rgba(5, 247, 211);
    position: relative;
}
  
.switch__usd,
.switch__btc {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    -webkit-transition: 300ms ease-in;
    -moz-transition: 300ms ease-in;
    transition: 300ms ease-in;
    padding: 0 1em;
    opacity: 0.5;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: normal;
    color: #ffffff;
}

.switch__usd.selected,
.switch__btc.selected {
    color: rgba(255, 255, 255, 0);
}

.selector {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    height: 18px;
    top: -1px;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    border: solid 1px rgba(5, 247, 211);
    background-color: rgba(5, 247, 211, 0.1);
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #042e5a;
    opacity: 1;
}

.title-suggestion {
    font-size: 10px;
    opacity: 0.6;
}

@media(max-width: 769px) {
    .create {
        overflow: hidden;
    }

    .create-content {
        width: unset;
        padding: 0 20px;
    }

    .create-main {
        flex-direction: column;
    }

    .create-data {
        width: 100%;
    }
    
    .mand-values-row {
        flex-direction: column;
    }

    .mand-input {
        margin-top: 10px;
        width: 280px;
    }
    
    .create-command-area {
        width: unset;
        margin-left: 0;
    }

    .mand-values-row {
        align-items: unset;
    }
    
    .create-separator {
        width: 100%;
    }
    
    .create-see-more {
        width: 100%;
    }

    .create-form {
        width: 100%;
    }

    .command {
        margin-top: 30px;
        width: 100%;
    }

    .error {
        margin-left: 0;
    }

    .create-see-more,
    .create-separator {
        padding: 0 20px;
    }
}