<mat-toolbar [class.header-toolbar-mainnet]=isMainnet
             [class.header-toolbar-testnet]=!isMainnet color="primary">
    <div class="header-content">
      <img class="logo-title" src="assets/logo.svg" width=48 height=42 alt="">
      <div class="logo-title-content" (click)="navigateToHomepage()">
        <div class="logo-title-beam">BEAM</div>
        <div class="logo-title-text">Block Explorer</div>
      </div>
      <app-network-control *ngIf="!isMasternet"></app-network-control>
      <input autocomplete="off" placeholder="Search by height, hash, kernel ID..."
             type="search" #searchInput (keyup.enter)="searchProcess(searchInput)" id="searchInput"/>
    </div>
</mat-toolbar>
