.header-toolbar {
    padding: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0);
}

.header-toolbar.search-display {
    height: 185px;
}

.header-toolbar.search-hidden {
    height: 110px;
}

.header-content {
    display: grid;
    grid-template-columns: 20px auto 50px;
}

.header-content.search-hidden {
    grid-template-rows: 15px repeat(1, 60px);
}

.header-content.search-display {
    grid-template-rows: 15px repeat(2, 60px);
}

.search-button{
    margin-right: 5px;
}

.header-content-logo {
    float: left;
    cursor: pointer;
}

.logo-title-content {
    margin-top: 5px;
    float: left;
    cursor: pointer;
}

.logo-title-beam {
    color: #25c1ff;
    font-weight: bolder;
    text-shadow: 1px 0 #25c1ff;
    letter-spacing: 12px;
    font-size: 17px;
    margin-top: -10px;
    height: 22px;
    margin-left: 24px;
}

.logo-title-text{
    font-size: 16px;
    margin-left: 24px;
    height: 20px;
    position: absolute;
}

.header-search-input {
    width: 300px;
    height: 31px;
    opacity: 0.3;
    border-radius: 20px;
}

.search-input-container {
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
}

.search-input-container.search-display {
    grid-row-start: 4;
    grid-row-end: 4;
}

.search-input-container.search-hidden {
    grid-row-start: 3;
    grid-row-end: 3;
    display: none;
}

.search-header-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 20px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 288px;
    height: 31px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
}

.search-header-input.search-display {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.search-header-input.search-hidden {
}

.search-header-input:focus{
    outline: none;
}

.search-header-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}

table {
    width: 100%;
}

.search-form-field {
    width: 100%;
    padding: 5px;
}

.header-title {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
}

.search-control {
    cursor: pointer;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 3;
    margin-top: 5px;
    width: 24px;
    height: 24px;
    border: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-control.search {
    background: url("../../../assets/iconSearch.png") no-repeat center bottom;
}

.search-control.decline {
    background: url("../../../assets/iconDeclineSearch.png") no-repeat center bottom;
}

app-network-control.search-display {
    margin-top: 10px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
}

app-network-control.search-hidden {
    margin-top: 10px;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 2;
}
