.header-toolbar {
    background-attachment: fixed;
    height: 111px;
    background-blend-mode:  normal, multiply, multiply, multiply;
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.header-toolbar.mainnet {
    background-image:
        linear-gradient(120deg, #032e49, #0073a6),
        radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
        linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
}

.header-toolbar.testnet {
    background-image:
        linear-gradient(120deg, #1e172c, #4a2c7c),
        radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
        linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
}

.header-content {
    display: flex;
    align-items: center;
    width: 1180px;
    height: 111px;
    margin: 0 auto;
}

.search-button{
    margin-right: 5px;
}

.header-content-logo {
    cursor: pointer;
}

.logo-title-content {
    cursor: pointer;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.logo-title-beam {
    color: #25c1ff;
    font-weight: bolder;
    text-shadow: 1px 0 #25c1ff;
    letter-spacing: 12px;
    font-size: 17px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 8px;
    overflow: hidden;
    width: 85px;
}

.logo-title-text{
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    overflow: hidden;
    width: 85px;
}

.header-search-input {
  width: 300px;
  height: 31px;
  opacity: 0.3;
  border-radius: 20px;
}

.search-header-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    float: right;
    text-indent: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 31px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    margin-left: auto;
}

.search-header-input:focus{
    outline: none;
}

.search-header-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}

table {
    width: 100%;
}

.search-form-field {
    width: 400px;
}

.header-assets-button {
    margin-left: 30px;
    width: 179px;
    height: 31px;
    border-radius: 15.5px;
    background-color: #05e2c2;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #042e5a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media(max-width: 769px) {
  .header-content-logo {
      margin-left: 20px;
      margin-top: 15px;
  }

  .logo-title-content {
      margin-top: 20px;
  }

  .logo-title-text {
      top: 32px;
  }

  .search-form-field {
      width: 100%;
  }

  .search-form-field {
      padding: 5px;
  }

  .header-content {
      height: 130px;
  }

  .header-toolbar {
      height: 135px;
  }
}
