<mat-toolbar class="header-toolbar" [class.mainnet]=isMainnet
             [class.testnet]=!isMainnet color="primary">
    <div class="header-content">
      <img class="header-content-logo" src="assets/logo.svg" width=48 height=42 alt="">
      <div class="logo-title-content" (click)="navigateToHomepage()">
        <div class="logo-title-beam">BEAM</div>
        <div class="logo-title-text">Block Explorer</div>
      </div>
      <input autocomplete="off" class="search-header-input"
             placeholder="Search by asset, description, ratio"
             onfocus="this.placeholder = ''"
             onblur="this.placeholder = 'Search by asset, description, ratio'"
             onfocusout="this.placeholder = 'Search by asset, description, ratio'"
             type="search" #searchInput id="searchInput"/>
    </div>
</mat-toolbar>
