<ng-container *ngIf="!isMobile">
    <header class="header">
        <div class="header__content">
            <app-header-logo></app-header-logo>
            <app-header-toggle-switch *ngIf="!isAssets"></app-header-toggle-switch>
            <app-header-search [isAssetsVal]=isAssets></app-header-search>
            <div class="header__content__assets-button" 
                    (click)="assetsClicked()" 
                    *ngIf="!isAssets">
                Confidential assets
            </div>
        </div>
    </header>
</ng-container>

<ng-container *ngIf="isMobile">
    <header class="header-mob">
        <div class="header-mob__content">
            <div class="header-mob__content__top">
                <app-header-logo></app-header-logo>
                <div class="search-control"
                    [class.search]=!componentParams.isSearchInputVisible
                    [class.decline]=componentParams.isSearchInputVisible
                    (click)="searchClicked()"></div>
                <div class="assets-control"
                    [class.accept]=!componentParams.isAssetsButtonVisible
                    [class.decline]=componentParams.isAssetsButtonVisible
                    (click)="assetsControlClicked()"></div>
            </div>
            <app-header-toggle-switch class="header-mob__content__switcher" *ngIf="!isAssets"></app-header-toggle-switch>
            <app-header-search class="header-mob__content__search" 
                *ngIf="componentParams.isSearchInputVisible" [isAssetsVal]=isAssets></app-header-search>
            <div class="header-mob__content__assets-button" 
                    (click)="assetsClicked()" 
                    *ngIf="!isAssets && componentParams.isAssetsButtonVisible">
                Confidential assets
            </div>
        </div>
    </header>
</ng-container>
