@import 'ui-mixins';

.header {
    display: flex;
    width: 100%;
    height: 111px;
    min-width: 1350px;
    
    &__content {
        @include top-background-color();
        padding: 0 140px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__assets-button {
            @include text-color();
            width: 179px;
            height: 31px;
            border-radius: 15.5px;
            background-color: #05e2c2;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        &__assets-button:hover {
            background-color: #05f7d3;    
        }
    }
}

.header-mob {
    display: flex;
    width: 100%;
    min-width: 0;
    
    &__content {
        @include top-background-color();
        padding: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &__top {
            display: flex;
            flex-direction: row;
        }

        &__search,
        &__switcher {
            display: flex;
            margin-top: 20px;
            align-self: center;
        }

        &__assets-button {
            @include text-color();
            margin: 20px auto 0 auto;
            width: 179px;
            height: 31px;
            border-radius: 15.5px;
            background-color: #05e2c2;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        &__assets-button:hover {
            background-color: #05f7d3;    
        }
    }
}

.assets-control,
.search-control {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-self: center;
    margin-left: auto;
}

.assets-control {
    margin-left: 20px;
}

.search-control.search {
    background-image: url("../../../../assets/shared/components/header/search-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.assets-control.accept {
    background-image: url("../../../../assets/shared/components/header/assets-control-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-control.decline,
.assets-control.decline {
    background-image: url("../../../../assets/shared/components/header/decline-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
