.search-header-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    height: 31px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
}

.search-header-input:focus{
    outline: none;
}

.search-header-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.search-header-input::-webkit-search-cancel-button {

    /* Remove default */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    margin-right: 10px;
    display:block;
    box-sizing:border-box;
    width:12px;
    height:12px;
    border-width:3px;
    border-style: solid;
    border-color: rgb(239,239,240);
    border-radius:100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%), 
                -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%);
    background: -moz-linear-gradient(-45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%), 
                -moz-linear-gradient(45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%);
    background: linear-gradient(-45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%), 
                linear-gradient(45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%);
    background: -ms-linear-gradient(-45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%), 
                -ms-linear-gradient(45deg, transparent 0%, transparent 46%, rgb(134,134,134) 46%,  rgb(134,134,134) 56%,transparent 56%, transparent 100%);
    background-color:rgb(239,239,240);
    transition: all 0.3s ease;
}

.search-header-input::-webkit-search-cancel-button {
    content: "×";
}

// .search-header-input::-webkit-search-cancel-button{
//     -webkit-appearance: none;
//     cursor: pointer;

//     height: 10px;
//     width: 10px;
//     background-image: url("./../../../../assets/shared/components/header-search/cancel-search-icon.svg");

//   /* Now your own custom styles */
// //   height: 10px;
// //   width: 10px;
// //   background-color: #FA6900;
// //   border-radius: 5px;
//   //position: relative;
// }

// .search-header-input::-webkit-search-cancel-button:after {
//     // content: 'X';
//     // font-style: italic;
//     // color: red;
// }