.mat-column-block-header{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.mat-column-name{
    font-weight: bold;
}

.details-card-container{
    box-shadow: none;
}

.mat-header-row,
.mat-row {
    border: none;
}

.main-table-row{
    background-color: rgb(251,251,251);
}

.main-table-name{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
}

.main-table-value{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.expansion-data-rows{
    margin-top: 20px;
}

.expansion-data-title{
    font-weight: bold;
}

.expansion-data-panel{
    border-radius: unset;
    box-shadow: none;
    margin-top: 5px;
}

.mainnet {
    background-color: #d9e6ed !important;
}

.testnet {
    background-color: #e4d9ed !important;
}

:host ::ng-deep.mat-expansion-panel-body {
    padding: 0 !important;
}

:host ::ng-deep.mat-header-row .mat-header-cell {
    font-weight: bolder !important;
    color: #333333;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.kernels-table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

.inputs-table-header,
.outputs-table-header,
.kernels-table-header {
    background-color: rgb(241,241,241);
}

.inputs-table .mat-row:nth-child(odd),
.outputs-table .mat-row:nth-child(odd),
.kernels-table .mat-row:nth-child(odd){
    background-color: rgb(251,251,251);
}

.details-button-back{
    margin-top: 50px;
}

.mat-column-fee {
    min-width: 40px;
}

.mat-column-id,
.mat-column-excess {
    white-space: normal;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
}

.searched-by-mainnet,
.mainnet {
    background-color: #d9e6ed !important;
}

.searched-by-testnet,
.testnet {
    background-color: #e4d9ed !important;
}

.mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
}

.desktop-label {
    max-width: 220px;
}

.mat-header-row {
   display: none;
}

.mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 10px;
    min-height: 0;
}

.mat-column-fee {
    max-width: 200px;
}

.commitment-cell,
.kernel-id-cell,
.excess-cell {
    max-width: 190px;
}

.value-table-cell {
    max-width: 250px;
}

mat-cell {
  padding-bottom: 5px;
}

mat-cell:first-of-type {
    padding-left: 0;
}

app-header-mobile {
    background-attachment: fixed;
    height: 135px;
    background-blend-mode:  normal, multiply, multiply, multiply;
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

app-header-mobile.mainnet {
    background-image:
        linear-gradient(120deg, #032e49, #0073a6),
        radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
        linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
}

app-header-mobile.testnet {
    background-image:
        linear-gradient(120deg, #1e172c, #4a2c7c),
        radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
        linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
}


