.mat-column-block-header{
    color: #3f51b5;
    font-weight: bold;
}

.mat-column-name{
    font-weight: bold;
    max-width: 300px;
}

.details-card-container{
    max-width: 1290px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.expansion-data-rows{
    margin-top: 20px;
}

.expansion-data-title{
    font-weight: bold;
}

.expansion-data-panel{
    margin-top: 5px;
}

.details-button-back{
    margin-top: 50px;
}

.mat-column-commitment{
    min-width: 520px;
}

.mat-column-fee {
    max-width: 40px;
}

.mat-column-excess {
    min-width: 510px;
}

.mat-column-id {
    min-width: 500px;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
}

.mobile-label {
    display: none;
}


@media(max-width: 600px) {
  .mobile-label {
      width: 95px;
      display: inline-block;
      font-weight: bold;
  }

  .mat-header-row {
     display: none;
  }

  .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 10px;
      max-height: 370px;
  }

  .mat-column-fee {
      max-width: 200px;
  }

  .commitment-cell,
  .kernel-id-cell,
  .excess-cell {
      max-width: 190px;
  }

  .value-table-cell {
      max-width: 250px;
  }

  mat-cell:first-of-type {
      padding-left: 0;
  }
}

