.chart-item {
    display: inline-block;
    width: 730px;
    height: 350px;
    margin-left: 50px;
}

.chart-item-full {
    display: inline-block;
    height: 600px;
    width: 1200px;
}

@media all and (max-width: 1599px) {
    .chart-item {
        width: 650px;
        margin-left: 5px;
    }

    .chart-item-full {
        width: 1000px;
    }
}

@media all and (max-width: 1359px) {
    .chart-item {
        width: 580px;
        margin-left: 5px;
    }

    .chart-item-full {
        width: 1000px;
    }
}


@media all and (max-width: 600px) {
  .chart-item {
      width: 350px;
      height: 400px;
  }
}
