.chart-item {
    display: inline-block;
    width: 730px;
    height: 350px;
    margin-left: 50px;
}

.chart-item-full {
    display: inline-block;
    height: 600px;
    width: 1200px;
}

.highcharts-credits {
    display: none;
}

/*:host ::ng-deep.highcharts-tooltip>span {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.2);
    height:300px;
    width:300px;
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
}*/

#blocks-chart {
    float: left;
    max-width: 580px;
}

#fee-chart {
    margin-left: 38px;
    float: left;
    max-width: 560px;
}

@media all and (max-width: 1599px) {
    .chart-item {
        width: 650px;
        margin-left: 5px;
    }

    .chart-item-full {
        width: 1000px;
    }
}

@media all and (max-width: 1359px) {
    .chart-item {
        width: 580px;
        margin-left: 5px;
    }

    .chart-item-full {
        width: 1000px;
    }
}


@media all and (max-width: 600px) {
  .chart-item {
      width: 350px;
  }
}
