<div id="blocks-chart">
  <div class="blocks-chart-title" *ngIf="!chartLoading">
    <div class="chart-type-selector">
      <span class="type-selected" (click)="showTypesOptions($event)">
        <span>{{selectedBlocksChartType.name}}</span>
        <img src="../../assets/arrows/arrow-down-small.png"
             srcset="../../assets/arrows/arrow-down-small@2x.png 2x,
                     ../../assets/arrows/arrow-down-small@3x.png 3x"
             class="arrow-down-small">
      </span>
      <div class="type-options" *ngIf="isChartTypesVisible">
        <ul>
          <li class="type-options-item" *ngFor="let p of blocksChartTypes" [class.selected]="p.isSelected"
              (click)="blocksChartTypeChange(p)">
            <span> {{p.name}} </span>
          </li>
        </ul>
      </div>
    </div>

    <span class="period-selector-blocks">
      <span class="period-title">Period: </span>
      <select class="period-selector" (ngModelChange)="blocksPeriodChange($event)"
              [(ngModel)]="selectedPeriodBlocks">
          <option *ngFor="let p of chartPeriods" [ngValue]="p">{{p.name}}</option>
      </select>

    </span>
  </div>
  <div class="blocks-chart-area" #charts></div>
</div>
<div id="fee-chart">
  <div class="fee-chart-title" *ngIf="!chartLoading">
    <span class="title"> TRANSACTION FEE </span>
    <span class="period-selector-fee">
      <span class="period-title">Period: </span>
      <select class="period-selector" (ngModelChange)="feePeriodChange($event)"
              [(ngModel)]="selectedPeriodFee">
        <option *ngFor="let p of chartPeriods" [ngValue]="p">{{p.name}}</option>
      </select>

    </span>
  </div>
  <div #feeChart class="fee-chart-area"></div>
</div>
