@import 'ui-mixins';

:host {
    width: 100%;
}

.paginator-wrapper,
.mat-header-row {
    @include paginator-wrapper-background();
}

.paginator-wrapper {
    padding: 0 140px;
    display: flex;
    justify-content: flex-end;
}

.paginator {
    background-color: rgba(255, 255, 255, 0);
}

.paginator-wrapper.mobile,
.paginator.mobile {
    padding: 0;
}

:host .paginator.mobile ::ng-deep.mat-paginator-container {
    padding: 8px 15px 20px 15px;
}

:host .paginator.mobile ::ng-deep.mat-paginator-range-actions {
    width: 100%;
}

:host .paginator.mobile ::ng-deep.mat-paginator-range-label {
    margin: 0 auto 0 0;
}

:host .paginator.mobile ::ng-deep.mat-paginator-page-size {
    margin-right: 11px;
}

:host ::ng-deep.mat-paginator-page-size div:last-of-type {
    font-weight: bolder;
    color: #333333;
}

.table-container {
    display: flex;
    flex-direction: column;

    &__header {
        height: 100px;
        padding: 0 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__header-mob {
        padding: 30px 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.table-selector {
    display: flex;
    flex-direction: row;
    margin-top: 8px;

    &__item {
        cursor: pointer;
        margin-right: 18px;

        &__title {
            padding: 0 16px;
            opacity: 0.5;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            color: #333333;
        }

        &__title.active {
            opacity: 1;
        }

        &__bottom-line {
            margin-top: 8px;
            height: 2px;
            box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
            background-color: #00f6d2;
        }
    }
}

.offers-table-row,
.mat-header-row,
.blocks-table-row {
    padding: 0 145px;
}

.offers-table-row {
    border: 0;
}

.swap-promt {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    color: #333333;

    &__url {
        color: #00d3ff;;
    }

    &__link {
        cursor: pointer;
    }
}

.swap-promt.mobile {
    margin-bottom: 30px;
    width: 175px;
    text-align: center;
}

.blocks-table {
    box-shadow: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.blocks-table-row {
    cursor: pointer;
    border: 0;
}

.mat-header-row {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
    border: 0;
}

.mat-header-row .mat-header-cell {
    font-weight: bolder !important;
    color: #333333;
}

.mat-row:nth-child(odd){
    background-color: rgb(251,251,251);
}

.mat-row::after {
    min-height: 0;
}

.height-cell,
.height-cell-header {
    max-width: 75px;
    min-width: 60px;
}

.hash-cell,
.hash-cell-header {
    min-width: 535px;
}

.age-cell,
.age-cell-header {
    min-width: 190px;
}

.diff-cell,
.diff-cell-header {
    min-width: 105px;
}

.offers-table-row:nth-child(odd){
    background-color: rgb(251,251,251);
}

.coins-cell {
    font-weight: bolder !important;
}

.coins-cell,
.coins-cell-header {
    max-width: 130px;
}

.coins-cell.mobile,
.coins-cell-header.mobile {
    max-width: none;
}

.tr-id-cell,
.tr-id-cell-header {
    min-width: 265px;
}

.rate-cell,
.rate-cell-header {
    max-width: 115px;
}

.rate-cell.mobile,
.rate-cell-header.mobile {
    max-width: none;
}

.kernel-cell,
.kernel-cell-header {
    min-width: 65px;
}

.input-cell,
.input-cell-header {
    min-width: 55px;
}

.output-cell,
.output-cell-header {
    min-width: 65px;
}

.fee-cell-header,
.fee-cell {
    min-width: 55px;
}

.empty-offers-message {
    opacity: 0.5;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin: 50px auto;
}

.blocks-table.mobile {
    overflow: hidden;
}

.offers-table.mobile {
    overflow: hidden;
}

.mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
}

.offer-mobile-label {
    width: 150px;
    display: inline-block;
    font-weight: bold;
}

.blocks-table-header-row.mobile,
.offers-table-header-row.mobile {
    display: none;
}

.offers-table-row.mobile,
.blocks-table-row.mobile {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px 30px 24px;
    max-height: 390px;
}

.height-cell.mobile {
    max-width: none;
    padding-left: 0;
}

.desktop-label.mobile {
    max-width: 170px;
}

.second-coin-icon,
.first-coin-icon {
    position: absolute;
    width: 20px;
    height: 20px;
}

.first-coin-icon {
    z-index: 20;
}

.second-coin-icon {
    z-index: 10;
    margin-left: 14px;
}

.coins-cell .desktop-label {
    display: flex;
    align-items: center;
}

.coins-cell .desktop-label span {
    margin-left: 45px;
}

.coins-cell.mobile {
    padding-left: 0;
}

.offer-type-selector {
    display: flex;
    margin-right: 25px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.offer-type-selector.mobile {
    width: 240px;
    margin-right: 0;
}

.offer-type-selector .offer-selected {
    display: flex;
    cursor: pointer;
    height: 11px;
    margin: auto;
    opacity: 0.5;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;

    &__value {
        margin-left: 5px;
        font-weight: bold;
    }
}

.offer-type-selector.mobile .offer-selected {
    margin-top: 22px;
    margin-left: 16px;
}

.offer-type-selector .type-options {
    @include selector-bg-color();
    z-index: 100;
    width: 176px;
    position: absolute;
    border: none;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 1;
}

.offer-type-selector.mobile .type-options {
    margin-left: 16px;
}

.offer-type-selector .type-options .type-options-item {
    padding: 7px 14px;
    text-align: start;
    height: 15px;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.offer-type-selector .type-options ul{
    list-style: none;
    margin: 7px 0;
    padding: 0;
}

.offer-type-selector .type-options .type-options-item.selected {
    @include selector-selected-color();
}

@media(max-width: 1440px) {
    .table-container:not(.mobile){
        min-width: 1350px;
    }
}

@media(max-width: 768px) {
    .table-selector {
        &__item {
            &__title {
                font-size: 14px;
            }
        }
    }


    
    .mat-row {
        min-height: 25px;
    }
}