<div class="details">
  <app-assets-header></app-assets-header>
  <div class="details-content">
    <div class="details-top">
      <img [src]="assetData.logo_url" onerror="this.onerror=null; this.style.display='none'" width="22px" height="22px">
      <span class="short-label">
        {{assetData.asset_code}}
      </span>
      <span class="coin-label">
        {{assetData.unit_name}}
      </span>
    </div>
    <div class="details-description" *ngIf="assetData.full_desc.length > 0">
      <div class="descr-title">Short assest description</div>
      <div class="descr-content">{{assetData.full_desc}}</div>
    </div>
    <div class="details-data">
      <div class="details-data-row">
        <div class="data-title">UNIT NAME:</div>
        <div class="data-value">{{assetData.unit_name}}</div>
      </div>
      <div class="details-data-row">
        <div class="data-title">SMALLEST UNIT NAME:</div>
        <div class="data-value">{{assetData.smallest_unit_name}}</div>
      </div>
      <div class="details-data-row">
        <div class="data-title">RATIO:</div>
        <div class="data-value">{{assetData.ratio}}</div>
      </div>
      <div class="details-data-row">
        <div class="data-title">WEBSITE:</div>
        <div class="data-value">{{assetData.site_url}}</div>
      </div>
      <div class="details-data-row">
        <div class="data-title">DESCRIPTION PAPER:</div>
        <div class="data-value">{{assetData.pdf_url}}</div>
      </div>
      <div class="details-data-row">
        <div class="data-title">LOGO:</div>
        <img [src]="assetData.favicon_url" onerror="this.onerror=null; this.style.display='none'" width="36px" height="36px">
      </div>
    </div>
  </div>
</div>