<div class="create">
  <app-assets-header></app-assets-header>
  <div class="create-content">
    <div class="create-header">Create asset</div>
    <div class="create-main">
      <form class="create-form" [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="submit()">
        <div class="create-data">
          <div class="mandatory-data">
            <div class="mandatory-title">MANDATORY PROPERTIES</div>
            <div class="mandatory-values">
              <div class="mand-values-row">
                <div class="mand-title">ASSET NAME:</div>
                <input class="mand-input" type="text" name="assetName" formControlName="assetName"
                      (input)="assetNameChanged(createForm.get('assetName'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">SHORT NAME / ASSET CODE:</div>
                <input class="mand-input" type="text" name="assetCode" formControlName="assetCode"
                      (input)="assetCodeChanged(createForm.get('assetCode'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">ASSET UNIT NAME:</div>
                <input class="mand-input" type="text" name="assetUnitName" formControlName="assetUnitName"
                      (input)="assetUnitNameChanged(createForm.get('assetUnitName'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">SMALLEST UNIT NAME:</div>
                <input class="mand-input" type="text" name="smallestUnitName" formControlName="smallestUnitName"
                      (input)="smallestUnitNameChanged(createForm.get('smallestUnitName'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">RATIO:</div>
                <input class="mand-input" type="text" name="ratio" formControlName="ratio"
                      (input)="ratioChanged(createForm.get('ratio'))"/>
              </div>
            </div>
          </div>
          <div class="optional-data">
            <div class="optional-title">OPTIONAL PROPERTIES</div>
            <div class="mandatory-values">
              <div class="mand-values-row">
                <div class="mand-title">SHORT DESCRIPTION:</div>
                <input class="mand-input" type="text" name="shortDescr" formControlName="shortDescr"
                      (input)="shortDescrChanged(createForm.get('shortDescr'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">LONG DESCRIPTION:</div>
                <input class="mand-input" type="text" name="longDescr" formControlName="longDescr"
                      (input)="longDescrChanged(createForm.get('longDescr'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">WEBSITE:</div>
                <input class="mand-input" type="text" name="website" formControlName="website"
                      (input)="websiteChanged(createForm.get('website'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">DESCRIPTION PAPER:</div>
                <input class="mand-input" type="text" name="descPaper" formControlName="descPaper"
                      (input)="descPaperChanged(createForm.get('descPaper'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">FAVICON:</div>
                <input class="mand-input" type="text" name="favicon" formControlName="favicon"
                      (input)="faviconChanged(createForm.get('favicon'))"/>
              </div>
              <div class="mand-values-row">
                <div class="mand-title">LOGO:</div>
                <input class="mand-input" type="text" name="logo" formControlName="logo"
                      (input)="logoChanged(createForm.get('logo'))"/>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="create-command-area">
        <div class="command-title">REGISTRATION COMMAND:</div>
        <div class="command-field" *ngIf="notEmpty" #command>
          ./beam-wallet asset_reg --pass 1 -n 127.0.0.1:10000 --asset_meta 
          "STD:
          <ng-container *ngIf="params.assetName.length > 0">N={{params.assetName}};</ng-container>
          <ng-container *ngIf="params.assetCode.length > 0">SN={{params.assetCode}};</ng-container>
          <ng-container *ngIf="params.assetUnitName.length > 0">UN={{params.assetUnitName}};</ng-container>
          <ng-container *ngIf="params.smallestUnitName.length > 0">NTHUN={{params.smallestUnitName}};</ng-container>
          <ng-container *ngIf="params.ratio.length > 0">NTH_RATIO={{params.ratio}};</ng-container>
          <ng-container *ngIf="params.shortDescr.length > 0">OPT_SHORT_DESC={{params.shortDescr}};</ng-container>
          <ng-container *ngIf="params.longDescr.length > 0">OPT_LONG_DESC={{params.longDescr}};</ng-container>
          <ng-container *ngIf="params.website.length > 0">OPT_SITE_URL={{params.website}};</ng-container>
          <ng-container *ngIf="params.descPaper.length > 0">OPT_PDF_URL={{params.descPaper}};</ng-container>
          <ng-container *ngIf="params.favicon.length > 0">OPT_FAVICON_URL={{params.favicon}};</ng-container>
          <ng-container *ngIf="params.logo.length > 0">OPT_LOGO_URL={{params.logo}};</ng-container>" --fee 100 --enable_assets
        </div>
        <!-- <div class="command-copy" *ngIf="notEmpty" >
          <img src="../../assets/icon-copy.svg" width="15px" height="17px"/>
          <span>Copy</span>
        </div> -->
      </div>
    </div>
  </div>
</div>