@import 'ui-mixins';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &__overview {
        @include top-background-color();
        display: flex;
        flex-direction: column;
        padding: 20px 140px;
        min-height: 1200px;
    }

    &__table-area {
        display: flex;
        height: 150px; // remove
    }
}