<div class="c-data">
    <div class="back-control" (click)="backButtonClicked()">
        <svg-icon class="back-icon" src="../../assets/icon-back.svg" 
            [svgStyle]="{ 'width.px':16, 'height.px':16 }"></svg-icon>
        <span class="back-control-text">back</span>
    </div>
    <div class="container" *ngIf="loaded">
        <div class="container__header">
            <div class="container__header__titles">
                <div>CONTRACT ID:</div>
                <div>SHADER ID:</div>
                <div>CONTRACT NAME:</div>
            </div>
            <div class="container__header__values">
                <div>{{contractData.cid}}</div>
                <div>{{contractData.sid}}</div>
                <div>{{contractData.name}}</div>
            </div>
        </div>
        <div class="container__funds">
            <div class="container__funds__title"> CONTRACT FUNDS: </div>
            <div class="container__funds__item" *ngFor="let item of contractData['funds']">
                <div class="container__header__titles">
                    <div>ASSET ID:</div>
                    <div>VALUE:</div>
                </div>
                <div class="container__header__values">
                    <div>{{item.aid}}</div>
                    <div>{{item.value}}</div>
                </div>
            </div>
        </div>
        <div class="container__funds">
            <div class="container__funds__title"> CONTRACT CALLS: </div>
            <div class="container__funds__item calls" *ngFor="let item of contractData['calls'];let indexOfelement=index;">
                <div class="container__header__titles-calls">
                    <div>HEIGHT:</div>
                    <div>ACTION:</div>
                    <div>METHOD ID:</div>
                    <div>METHOD NAME:</div>
                    <div>VALUE:</div>
                </div>
                <div class="container__header__values-calls">
                    <div>{{item.height}}</div>
                    <div>{{item.faction}}</div>
                    <div>{{getMethodId(item.imethod)}}</div>
                    <div>{{item.methodname}}</div>
                    <div>{{item.fval}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="funds">
        <div class="">CONTRACT ID: {{cid}}</div>
    </div>
    <div class="funds">
        <div class="">SHADER ID: {{contractData.sid}}</div>
    </div>
    <div class="funds" *ngIf="contractData['assets'] !== undefined && contractData['assets'] !== null && contractData['assets'].length > 0">
        <div>ASSETS LIST: </div>
        <div class="asset-item" *ngFor="let item of contractData['assets']">
            <div class="c-titles">
                <div class="c-title">ASSET ID:</div>
                <div class="c-title">LOCK HEIGHT:</div>
                <div class="c-title">METADATA:</div>
                <div class="c-title">VALUE: </div>
            </div>
            <div class="c-values">
                <div class="c-value">{{item.aid}}</div>
                <div class="c-value">{{item.lock_height}}</div>
                <div class="c-value">{{item.metadata.text}}</div>
                <div class="c-value">{{item.value}}</div>
            </div>
        </div>
    </div>
    <div class="assets"  *ngIf="contractData['assets'] !== undefined && contractData['assets'] === null">
        <div class="">ASSETS LIST: NO DATA</div>
    </div>
    <div class="funds"  *ngIf="contractData['extra'] !== undefined && contractData['extra'].length === 0">
        <div class="">EXTRA (contract extra info): NO DATA</div>
    </div>
    <div class="funds"  *ngIf="contractData['funds'] !== undefined && contractData['funds'] !== null && contractData['funds'].length > 0">
        <div class="">CONTRACT FUNDS:</div>
        <div class="asset-item" *ngFor="let itemf of contractData['funds']">
            <div class="c-titles">
                <div class="c-title">ASSET ID:</div>
                <div class="c-title">VALUE:</div>
            </div>
            <div class="c-values">
                <div class="c-value">{{itemf.aid}}</div>
                <div class="c-value">{{itemf.value}}</div>
            </div>
        </div>
    </div>
    <div class="funds"  *ngIf="contractData['funds'] !== undefined && contractData['funds'] === null">
        <div class="">CONTRACT FUNDS: NO DATA</div>
    </div>
    <div class="funds"  *ngIf="contractData['calls'] !== undefined && contractData['calls'].length > 0">
        <div class="">CONTRACTS CALLS:</div>
        <div class="call-item" *ngFor="let item of contractData['calls'];let indexOfelement=index;">
            <mat-expansion-panel class="expansion-data-panel">
                <mat-expansion-panel-header class="expansion-data-header">
                    <mat-panel-title class="expansion-data-title">
                       CALL #{{contractData['calls'].length - indexOfelement}}
                    </mat-panel-title>
                    <mat-panel-description>
                        HEIGHT: {{item.height}}   
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <div>CONTRACT INFO:</div>
                    <ngx-json-viewer [json]="item.contract"></ngx-json-viewer>
                </div>
                <div *ngIf="item.parent !== undefined">
                    <div>PARENT INFO:</div>
                    <ngx-json-viewer [json]="item.parent"></ngx-json-viewer>
                </div>
            </mat-expansion-panel>
        </div>
    </div> -->
</div>