<div class="graphs" *ngIf="graphsLoaded">
  <div class="graphs__left">
    <div class="graphs__left__block">
        <div class="chart-type-selector">
            <span class="type-selected" (click)="showTypesOptions($event)">
              <span>{{selectedBlocksChartType.name}}</span>
              <img src="../../../../../assets/modules/homepage/components/graphs/arrow-down-small.svg" class="arrow-down-small">
            </span>
            <div class="type-options" *ngIf="isChartTypesVisible">
              <ul>
                <li class="type-options-item" *ngFor="let p of blockCharts"
                    [class.selected]="p.isSelected"
                    (click)="blocksChartTypeChange(p)">
                  <span> {{p.name}} </span>
                </li>
              </ul>
            </div>
        </div>
        <div class="graphs__left__block__elem" [chart]="graphs.blocks"></div>
    </div>
    <div class="graphs__left__fee">
        <span class="graphs__left__fee__title">
            <span>FEE</span>
        </span>
        <div class="graphs__left__fee__elem" [chart]="graphs.fee"></div>
    </div>
  </div>
  <div class="graphs__right">
    <!-- <div class="graphs__right__swaps">
      <div class="graphs__right__swaps__elem" [chart]="graphs.swaps"></div>
    </div> -->
    <div class="graphs__right__lelantus">
        <span class="graphs__right__lelantus__title">
            <span>AVERAGE TIME TO WITHDRAW THE MAX PRIVACY COINS</span>
        </span>
        <div class="graphs__right__lelantus__elem" [chart]="graphs.lelantus"></div>
    </div>
  </div>
</div>