/* You can add global styles to this file, and also import other style files */

html {
      &,
      body {
          width: 100%;
          position: relative;
      }
  
      body {
          background-color: #fff;
          margin: 0 auto;
          //noinspection CssUnknownProperty
          overflow-anchor: none;
      }
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-RegularIt.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./assets/fonts/ProximaNova-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'ProximaNova', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; }
