@import 'ui-mixins';

.details-content {
    margin: 40px auto auto;
    display: flex;
    flex-direction: column;
    width: 1180px;
}

.details-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.short-label {
    width: 82px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.coin-label {
    opacity: 0.7;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.details-description {
    margin-top: 20px;
}

.descr-title {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.descr-content {
    margin-top: 15px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.details-data {
    @include paginator-wrapper-background();
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.details-data-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.details-data-row.descr {
    align-items: flex-start;
}

.data-title {
    width: 230px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
}

.data-value {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    max-width: 920px;
    word-wrap: break-word;
}

.not-available {
    font-family: "ProximaNovaIt", sans-serif;
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.clickable {
    cursor: pointer;
}

@media(max-width: 769px) {
    .details-content {
        width: 100%;
    }

    .details-data {
        margin: 20px 20px 0 20px;
    }

    .short-label {
        margin-left: 20px;
    }

    .data-title {
        width: 160px;
        font-size: 12px;
    }

    .data-value {
        max-width: calc(100% - 170px);
    }
}

.beamxed {
    width: 100px;
    height: 100px;
}

img {
    max-width: 300px;
    max-height: 200px;
}