.logo {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &__title {
        margin-left: 25px;
        display: flex;
        flex-direction: column;

        &__beam {
            color: #25c1ff;
            font-weight: bolder;
            text-shadow: 1px 0 #25c1ff;
            letter-spacing: 12px;
            font-size: 17px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            overflow: hidden;
        }

        &__text {
            margin-top: auto;
            color: #ffffff;
            font-size: 13px;
        }
    }
}

.logo-x {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__title {
        color: #ffffff;
        font-size: 13px;
        margin-top: 5px;
        text-align: center;
    }
}