<div class="logo" *ngIf="!isBeamx" (click)="navigateToHomepage()">
    <img class="logo__img" src="assets/shared/components/header-logo/beam-logo.svg" width=38 height=31 alt="">
    <div class="logo__title">
        <div class="logo__title__beam">BEAM</div>
        <div class="logo__title__text">Block Explorer</div>
    </div>
</div>

<div class="logo-x" *ngIf="isBeamx" (click)="navigateToHomepage()">
    <img class="logo-x__img" src="assets/shared/components/header-logo/beam-x-logo.png" width=135 height=65 alt="">
    <div class="logo-x__title beamx">
        Block Explorer
    </div>
</div>