<!--<mat-progress-bar mode="indeterminate" *ngIf="loading_status || loading_blocks || loading_charts"></mat-progress-bar>-->
<!-- Some charts -->
<div [class.content-сontainer-mainnet]=isMainnet
     [class.content-container-testnet]=!isMainnet
     *ngIf="!loading_status">
  <app-header-desktop></app-header-desktop>
  <div class="overview-container">
    <div class="chart-container">
      <div class="chart">
        <app-charts-component-desktop (chartsLoaded)="onChartsLoaded($event)"
                              [height]="status.height"
                              [fullSize]="false"
                              (click)="showCharts()"></app-charts-component-desktop>
      </div>
    </div>
    <div class="block-cards-container">
      <mat-card class="block-card height-card">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">BLOCKCHAIN HEIGHT:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.height}}</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card latest-block-card">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">LATEST BLOCK:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.timestamp | date:'medium'}}</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card difficulty-card">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">LATEST BLOCK DIFFICULTY:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.difficulty | number:'.'}}</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card coins-mined-block">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">COINS IN CIRCULATION (MINED):</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.coins_in_circulation_mined | number:'.'}} Beams</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card coins-treasury-block">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">COINS IN CIRCULATION (TREASURY):</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.coins_in_circulation_treasury | number:'.'}} Beams</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card total-coins-block">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">TOTAL COINS IN CIRCULATION:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.total_coins_in_circulation | number:'.'}} Beams</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card next-treasury-height-block">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">NEXT TREASURY EMISSION BLOCK HEIGHT:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.next_treasury_emission_block_height | number:'.'}}</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card next-treasury-amount-block">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">NEXT TREASURY EMISSION COIN AMOUNT:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.next_treasury_emission_coin_amount | number:'.'}} Beams</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card total-emission-block">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">TOTAL EMISSION:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.total_emission | number:'.'}} Beams</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="block-card hashrate-block">
        <mat-card-header class="block-card-header">
          <mat-card-subtitle class="block-card-header-title">HASHRATE:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="block-card-content">
          <h2 class="block-card-content-title">{{status?.difficulty / 60 | number:'.'}} Sol/s</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div style="clear: both"></div>
<!-- Top blocks section-->
<div *ngIf="!loading_status">
  <!--[pageSizeOptions]="pageSizeOptions"-->
  <div [class.paginator-wrapper-mainnet]=isMainnet
       [class.paginator-wrapper-testnet]=!isMainnet>
      <mat-paginator [class.blocks-table-paginator-mainnet]=isMainnet
                 [class.blocks-table-paginator-testnet]=!isMainnet
                 [pageSize]="20" [pageIndex]="page" [length]="count"
                 (page)="pageEvent = loadBlocks($event)" showFirstLastButtons></mat-paginator>
  </div>
  <div class="table-container">
    <mat-table [dataSource]="dataSource" class="blocks-table mat-elevation-z8">
      <!-- Height Column -->
      <ng-container matColumnDef="height">
        <mat-header-cell class="height-cell-header" *matHeaderCellDef> HEIGHT: </mat-header-cell>
        <mat-cell class="height-cell" *matCellDef="let element">
          <span class="mobile-label">Height:</span>
          <span class="desktop-label">
            {{element.height}}
          </span>
        </mat-cell>
      </ng-container>
      <!-- Hash Column -->
      <ng-container matColumnDef="hash">
        <mat-header-cell class="hash-cell-header" *matHeaderCellDef> HASH: </mat-header-cell>
        <mat-cell class="hash-cell" *matCellDef="let element">
          <span class="mobile-label">Hash:</span>
          <span class="desktop-label">
            {{element.hash}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="age">
        <mat-header-cell class="age-cell-header" *matHeaderCellDef> AGE: </mat-header-cell>
        <mat-cell class="age-cell" *matCellDef="let element">
          <span class="mobile-label">Age:</span>
          <span class="desktop-label">
            {{element.timestamp | date:'medium'}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="difficulty">
        <mat-header-cell *matHeaderCellDef> DIFFICULTY: </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Difficulty:</span>
          <span class="desktop-label">
            {{element.difficulty | number:'.'}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="kernels">
        <mat-header-cell class="kernel-cell-header" *matHeaderCellDef> #KERNELS: </mat-header-cell>
        <mat-cell class="kernel-cell" *matCellDef="let element">
          <span class="mobile-label"># kernels:</span>
          <span class="desktop-label">
            {{element.kernels.length}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="inputs">
        <mat-header-cell *matHeaderCellDef> #INPUTS: </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label"># inputs:</span>
          <span class="desktop-label">
            {{element.inputs.length}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="outputs">
        <mat-header-cell *matHeaderCellDef> #OUTPUTS: </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label"># outputs:</span>
          <span class="desktop-label">
            {{element.outputs.length}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fees">
        <mat-header-cell *matHeaderCellDef> FEES: </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label"> FEES:</span>
          <span class="desktop-label">
            {{element.fee}}
          </span>
        </mat-cell>
      </ng-container>
      <mat-header-row [class.blocks-table-header-mainnet]=isMainnet
                      [class.blocks-table-header-testnet]=!isMainnet
                      *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="blocks-table-row" (click)="showBlockDetails(row)"
             *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
<router-outlet></router-outlet>
