.canvas-chart {
    width: 50%;
    height: 700px;
}

.mat-table {
  width: 100%;
}

.overview-container{
    margin-top: 20px;
    overflow: hidden;
}

.chart-container {
    display: inline-table;
    width:100%;
    height:350px;
    padding:5px;
    border:1px solid #eee;
}

.block-card {
    margin:1em 2em;
    width:310px;
    float:left;
    padding: 10px 0;
}

.height-card {
    max-width:150px;
}

.hashrate-block {
    max-width:290px;
}

.difficulty-card {
    max-width: 210px;
}

.emission-block {
    max-width: 230px;
}

.block-card-content {
    margin: 0 16px;
    font-size: 10pt;
}

.next-treasury-amount-block,
.next-treasury-height-block {
    min-width: 260px;
}

.total-coins-block,
.total-emission-block {
    max-width: 240px;
}

.coins-treasury-block {
    max-width: 225px;
}

.latest-block-card {
    min-width: 280px;
}

.hashrate-block {
    max-width: 230px;
}

.block-details-link {
    cursor: pointer;
    color: rgb(0, 0, 238);
}

.height-cell,
.height-cell-header{
    max-width: 90px;
}

.hash-cell,
.hash-cell-header{
    min-width: 530px;
}

.age-cell,
.age-cell-header{
    min-width: 170px;
}

.actions-cell,
.actions-cell-header{
    max-width: 25px;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
}

.mobile-label {
    display: none;
}

@media all and (max-width: 1599px) {
    .chart-container {
        height:300px;
    }

    .block-card {
        margin:0.5em;
        width: 260px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 1359px) {
    .block-card {
        width: 225px;
    }

    .height-card {
        max-width:135px;
    }

    .latest-block-card {
        min-width: 235px;
    }

    .difficulty-card {
        max-width: 150px;
    }

    .total-emission-block,
    .total-coins-block,
    .coins-mined-block {
        max-width: 185px;
    }

    .next-treasury-amount-block,
    .next-treasury-height-block {
        min-width: 235px;
    }

    .hashrate-block {
        max-width: 180px;
    }

    .coins-treasury-block {
        max-width: 195px;
    }

    .block-card-header-title {
        font-size: 12px;
    }

    .block-card-content-title {
        font-size: 16px;
    }
}

@media(max-width: 600px) {
  .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
  }

  .mat-header-row {
      display: none;
  }

  .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      max-height: 370px;
  }

  .hash-cell {
      min-width: 200px;
  }

  .height-cell {
      padding-left: 90px;
  }

  .block-details-link {
      max-width: 200px;
  }

  .actions-cell {
      display: none;
  }
}
