.mat-table {
    width: 100%;
}

.blocks-table {
    box-shadow: none;
    font-family: ProximaNova;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.blocks-table-header-mainnet {
    font-family: ProximaNova;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
    background-color: rgba(0, 86, 131, 0.15);
    border: 0;
}

.blocks-table-header-testnet {
    font-family: ProximaNova;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
    background-color: rgba(76, 0, 131, 0.15);
    border: 0;
}

:host ::ng-deep.mat-header-row .mat-header-cell {
    font-weight: bolder !important;
    color: #333333;
}

.blocks-table-row {
    cursor: pointer;
    border: 0;
}

.mat-row:nth-child(odd){
    background-color: rgb(251,251,251);
}

.blocks-table-paginator-mainnet {
    padding-right: 95px;
    background-color: rgba(0, 86, 131, 0.15);
}

.blocks-table-paginator-testnet {
    padding-right: 95px;
    background-color: rgba(76, 0, 131, 0.15);
}

:host ::ng-deep.mat-paginator-page-size div:last-of-type {
    font-weight: bolder;
    color: #333333;
}

.content-—Åontainer-mainnet {
    overflow: hidden;
    background-attachment: fixed;
    background-blend-mode: normal, multiply, multiply, multiply;
    background-image: linear-gradient(120deg, #032e49, #0073a6),
      radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
      linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
      linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
      radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
}

.content-container-testnet {
    overflow: hidden;
    background-attachment: fixed;
    background-blend-mode: normal, multiply, multiply, multiply;
    background-image: linear-gradient(120deg, #1e172c, #4a2c7c),
      radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
      linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
      linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
      radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
}

.overview-container {
    height: 710px;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.block-cards-container {
    margin-right: auto;
    max-width: 1180px;
    min-height: 180px;
    margin-left: auto;
}

.chart-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    display: inline-table;
    width:100%;
    height:430px;
    padding:5px;
}

.block-card {
    margin: .5rem .5rem;
    width:220px;
    height: 71px;
    float:left;
    padding: 0;
    box-shadow: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.block-card-header-title {
    margin-top: 14px !important;
    margin-bottom: 0;
    opacity: 0.5;
    font-family: ProximaNova;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.block-card-content-title {
    margin-top: 6px !important;
    font-family: ProximaNova;
    margin-left: 14px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.block-card-content {
    font-size: 10pt;
}

.mat-table mat-row, mat-header-row, mat-footer-row {
    padding-left: 9rem;
    padding-right: 45px;
}

.height-cell,
.height-cell-header{
    max-width: 90px;
}

.hash-cell,
.hash-cell-header{
    min-width: 530px;
}

.age-cell,
.age-cell-header{
    min-width: 170px;
}

.actions-cell,
.actions-cell-header{
    max-width: 25px;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
}

.mobile-label {
    display: none;
}

:host ::ng-deep.mat-paginator .mat-paginator-container:last-child{
    font-family: ProximaNova;
}

@media(max-width: 600px) {
  .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
  }

  .mat-header-row {
      display: none;
  }

  .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      max-height: 370px;
  }

  .hash-cell {
      min-width: 200px;
  }

  .height-cell {
      padding-left: 90px;
  }

  .block-details-link {
      max-width: 200px;
  }

  .actions-cell {
      display: none;
  }
}
