.canvas-chart {
    width: 50%;
    height: 700px;
}

table {
  width: 100%;
}

.overview-container{
    margin-top: 20px;
    overflow: hidden;
}

.chart-container {
    display: inline-table;
    width:100%;
    height:350px;
    padding:5px;
    border:1px solid #eee;
}

.block-card {
    margin:1em 2em;
    width:310px;
    float:left;
    padding: 10px 0;
}

.height-card {
    max-width:150px;
}

.hashrate-block {
    max-width:290px;
}

.difficulty-card {
    max-width: 210px;
}

.emission-block {
    max-width: 230px;
}

.block-card-content {
    margin: 0 16px;
    font-size: 10pt;
}

.next-treasury-amount-block,
.next-treasury-height-block {
    min-width: 260px;
}

.total-coins-block,
.total-emission-block {
    max-width: 240px;
}

.coins-treasury-block {
    max-width: 225px;
}

.hashrate-block {
    max-width: 230px;
}

@media all and (max-width: 1599px) {
    .block-card-header {
        font-size: 10px !important;
    }

    .block-card-header {
        font-size: 12px !important;
    }

    .chart-container {
        height:300px;
    }

    .block-card {
        margin:0.5em;
        width: 260px;
        padding-left: 0;
        padding-right: 0;
    }
}
